<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.1.89" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="16.2.29122.156" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.3.2" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.27" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="16.2.29122.156" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="16.2.29122.156" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="16.3.13" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.3.13" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities" version="16.2.29122.156" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.5.31" targetFramework="net472" />
  <package id="Microsoft.VSSDK.BuildTools" version="16.3.2099" targetFramework="net472" developmentDependency="true" />
</packages>